<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="D3">
    <!-- <link rel="stylesheet" type="text/css" href="css/index.css"> -->
    <title>Responsive D3 Charts</title>
    <!-- <link rel="shortcut icon" href="favicon.ico"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
        <style type="text/css">
    body {
        background: #ddd;
        width: 500px;
        height: 300px;
    }
    
/*    path {
        fill: none;
        stroke: #4682B4;
        stroke-width: 2;
    }*/
/*
    .domain, .tick line {
        stroke: gray;
        stroke-width: 1;
    }*/
    </style>
</head>

<body>

</body>
<script data-main="main" src="../../public/libs/requirejs/require.js"></script>

</html>
